.stars_vote {
  .star-rating {  line-height: 32px;
  font-size: 1.25em;
  }.star-rating .fa-star{color: yellow;
}

.star-rating {
  line-height: 32px;
  font-size: 1.25em;
}

.star-rating .fa-star {
  color: rgb(215,174,26);
}

